<div>
  {{ipAddress}}

  <table id="patientTable">
    <tr *ngFor="let patient of patients">
      <td>{{ patient.id }}</td>
      <td>
        <span *ngFor="let patientName of patient.name">
          {{ patientName.text }}
        </span>
      </td>
    </tr>
  </table>

  <div>
    <h1>Neuen Patient hinzufügen</h1>

    <form>
      <div *ngFor="let name of currentPatient.name" >

        <input id="vorname" name="vorname" type="text" placeholder="Vorname" [(ngModel)]="name.text" />
      </div>

      <button (click)="currentPatientAddName()" >Name hinzufügen</button>

    </form>

    <div>
      {{strinigfyPatient()}}
    </div>

  </div>

</div>
