<div>
  {{ipAddress}}

  <table id="patientTable">
    <tr *ngFor="let patient of patients" (click)="selectPatient(patient)">
      <td>{{ patient.id }}</td>
      <td>
        <span *ngFor="let patientName of patient.name">
          {{ patientName.text }}
        </span>
      </td>
    </tr>
  </table>

  <form [formGroup]="patientForm">
    Text: <input formControlName="text" /><br />
  </form>

  <pre>{{ patientForm.value | json }}</pre>

  <pre
    >{{ currentPatient | json }}
  </pre>
</div>
